@charset 'utf-8'

/* start> root.gack.css */

root
  helvetica:        "Helvetica", Arial, sans-serif
  georgia:          Georgia, Cambria, Times, serif
  verdana:          Verdana, "Geneva", sans-serif
  blue:             #0074D9
  aqua:             #7FDBFF
  teal:             #39CCCC
  gray:             #dddddd
  size:             3rem
  icon-size:        calc(size / 2)
  main-color:       gray
  company:          'charlike'

/* end> mixins.gack.css */
/* start> mixins.gack.css */

size
  line-height:      calc(sz * 2)
  font-size:        sz

:icons(company: 0.5, color, size)
  padding-left:     calc(size / 10)
  color:            blue
  content:          company
  background:       color main-color
  size:             size

/* end> mixins.gack.css */
/* start> index.gack.css */

ul
  padding: size
  li
    a
      .something
        background: teal
    font-size: size
    color: aqua

button
  icons: 'twitter', white, calc(icon-size * 3px)
  border-radius: 5px
  padding: 5px 10px
  box-shadow: 0 0 3px red, 0 0 10px green, inset 0 0 3px blue

/* end> index.gack.css */