@charset 'utf-8';

:root() {
  calc: @function(expr) {
    return expr * -1
  }
  jumbo: (radius: 2em, color: #ddd, size: 340px, sum: radius) => {
    border-radius:    radius;
    background:       color;
    font-size:        size;
    content:          calc(radius * 2);
  }
  helvetica:        "Helvetica", Arial, sans-serif;
  georgia:          Georgia, Cambria, Times, serif;
  verdana:          Verdana, "Geneva", sans-serif;
  
  blue:             #0074D9;
  aqua:             #7FDBFF;
  teal:             #39CCCC;
  gray:             #dddddd;

  size:             3rem;
  icon-size:        calc(size / 2);
  main-color:       @gray;
  company:          'charlike';
}
@function calc(expr) {
  return expr
}
@mixin jumbo(radius: 2em, color: #ddd, size: 340px, sum: radius) {
  border-radius:    radius;
  background:       color;
  font-size:        size;
  content:          calc(radius * 2);
}

